.sidebar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 3vh;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.page-links {
  margin-right: 1%;
  margin-top: 1%;
  width: 70%;
  text-align: right;
}

.sidebar-menu {
  padding: 1%;
  color: #fbeecf;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 1rem;
  // width: 70%;
}

.sidebar-menu:hover {
  color: #ef6817;
  text-decoration: none;
}

.sidebar .sidebar-menu .fas {
  margin-right: 5%;
}

.fab {
  font-size: 1.4rem;
  color: white;
  margin-right: 5%;
}

.social-media {
  display: flex;
}

.social-media-link {
  margin: 10%;
}

.fab:hover {
  color: rgb(223, 148, 8);
}

.copyright {
  font-size: 0.9rem;
  margin: 5% auto;
  color: rgb(247, 208, 137);
}

// **************************//

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51.5%;
  bottom: 0;
  background: #ef6817;
  height: 2px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
