.contact-main {
  background: rgb(170, 118, 121);
  background: radial-gradient(circle, rgba(170, 118, 121, 1) 0%, rgba(187, 168, 157, 1) 100%);
  min-height: 100vh;
}

.contact-heading {
  font-family: "Raleway",
    sans-serif;
  font-size: 2.5rem;
  color: #77A8AB;
  font-weight: 800;
  border-bottom: 2px dotted;
  border-color: rgb(116, 84, 5);
  padding-top: 8%;
  letter-spacing: 0.8px;
}

.form-title {
  font-size: 1.5rem;
  font-family: "Raleway",
    sans-serif;
  text-transform: uppercase;
  color: #F3D942;
  border-bottom: 3px groove;
  border-radius: 10px;
  border-color: goldenrod;
  text-align: center;
  margin: 5% auto;
  width: 50%;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.name-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-section .name-email input,
.message {
  background-color: transparent;
  border: 2px groove #77A8AB;
  border-radius: 4px;
  padding: 1.5%;
  margin: 0 2%;
  font-size: 1.2rem;
  font-family: "Raleway",
    sans-serif;
  color: #F3D942;

}

.input-section .message {
  margin: 2% 1%;
  height: 12rem;
  resize: none;
}

.input-section .form-button {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #4D476C;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 2%;
  background-color: #F3D942;
  border: none;
  border-radius: 6px;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-align: center;
}

.input-section .form-button:hover {
  background-color: rgb(109, 66, 2);
  color: white;
}

// ****** FOOTER SECTION STYLE ***** //

.contact-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 8% 1% 3% 1%;
}

.contact-social {
  display: flex;
  flex-direction: column;
}

.contact-footer .contact-social .fas {
  font-size: 3.5rem;
  color: rgb(75, 35, 3);
}

.contact-type {
  font-family: "Raleway", sans-serif;
  color: rgb(75, 35, 3);
  // text-transform: uppercase;
  font-size: 1.3rem;
  margin: 3% 1%;
  width: 100%;
}