.main-page {
  min-height: 100vh;
  background-color: #131211;
  position: relative;
  left: 0;
  right: 0;
}

.profile-picture {
  position: relative;
  overflow: hidden;
}

.pic {
  position: absolute;
  left: 2%;
  bottom: 0;
  width: 40%;
  // height: 100%;
}

.home-name {
  position: absolute;
  top: 40%;
  right: 20%;
  font-family: "Comic Neue", cursive;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5rem;
  color: #f2efe6;
}

.tag {
  position: absolute;
  top: 50%;
  left: 57.5%;
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  font-size: 2rem;
  color: #f2efe6;
}

.quality {
  color: #f2efe6;
  border-bottom: 4px solid #ef6817;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

.sidebar .sidebar-menu .fas {
  margin-right: 5%;
}

.fab {
  font-size: 1.8rem;
  color: white;
  padding-bottom: 5%;
}

.fab:hover {
  color: #ef6817;
}

.social-media {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3%;
  bottom: 5%;
}

.social-media-link {
  padding: 0.7rem;
}


.copyright {
  position: absolute;
  bottom: 0.5%;
  left: 45%;
  font-size: 0.8rem;
  color: rgb(247, 208, 137);
}

//  **** Media Queries *** //

@media only screen and (max-width: 600px) {
  .home-name {
    position: absolute;
    top: 20%;
    right: 13%;
    font-size: 3rem;
  }

  .pic {
    position: absolute;
    left: 2%;
    bottom: 0;
    width: 95%;
    // height: 100%;
  }

  .tag {
    position: absolute;
    top: 28%;
    left: 10%;
    font-size: 1.5rem;
  }

  .copyright {
    position: absolute;
    bottom: 0;
    left: 27.5%;
    font-size: 0.6rem;
  }

}