.video-container {
  height: 100%;
  position: relative;
  top: 0;
}

#video-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(78, 45, 23, 0.61);
  background-blend-mode: overlay;
  position: absolute;
}

.home-name {
  position: absolute;
  top: 30%;
  left: 40%;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 6rem;
  color: goldenrod;
}

.tag {
  position: absolute;
  top: 43%;
  left: 40%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: rgb(253, 215, 119);

}

.last-name {
  color: rgb(253, 215, 119);
}

.quality {
  color: goldenrod;
  border-bottom: 4px solid rgb(75, 35, 3);
}

.main-home {
  max-height: 100vh;
  overflow: hidden;
}